In [1]:
!pip install openai

Requirement already satisfied: openai in c:\users\nouam\anaconda3\lib\site-packages (0.27.1)
Requirement already satisfied: aiohttp in c:\users\nouam\anaconda3\lib\site-packages (from openai) (3.8.4)
Requirement already satisfied: requests>=2.20 in c:\users\nouam\anaconda3\lib\site-packages (from openai) (2.28.2)
Requirement already satisfied: tqdm in c:\users\nouam\anaconda3\lib\site-packages (from openai) (4.59.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (1.26.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (20.3.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.3.1)

In [5]:
import openai
import tiktoken
import numpy as np
import pandas as pd
import re 


SECRET_KEY="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"
#ORG_ID= "org-Nb4XRWRLbNL4xvPpV7Cv9lSD"
openai.api_key = SECRET_KEY

In [205]:
def random_generator (size,base):
    random_numbers = np.random.randint(1, base, size=size,dtype=np.int64)
    return random_numbers
random_numbers = random_generator(10,10**5)
print(random_numbers)

[55892 78817 66528 43686 99773 76268 24808 47383 75607 98470]

In [206]:
# ex:
# prompts = [
#     "15+15 = ",
#     "16+18 = ",
#     "2000+20000 = ",
#     "1/100000 = "
# ]
#signs = {"/","+","-"} for future uses

def prompts_builder(random_numbers):
    prompts = [f"{a} + {b} =\n" for a, b in zip(random_numbers, random_numbers[1:])]
    ground_truth =[(random_numbers[i] + random_numbers[(i+1) % len(random_numbers)]) for i in range(len(random_numbers))]
    return prompts, ground_truth[:9]

prompts, ground_truth = prompts_builder(random_numbers)

In [207]:
my_tuples = [(random_numbers[i],random_numbers[i+1]) for i in range(len(random_numbers)-1)]
print(my_tuples)

[(55892, 78817), (78817, 66528), (66528, 43686), (43686, 99773), (99773, 76268), (76268, 24808), (24808, 47383), (47383, 75607), (75607, 98470)]

In [208]:
print(f"prompts: {prompts}", f"ground_truth: {ground_truth[:9]}")

prompts: ['55892 + 78817 =\n', '78817 + 66528 =\n', '66528 + 43686 =\n', '43686 + 99773 =\n', '99773 + 76268 =\n', '76268 + 24808 =\n', '24808 + 47383 =\n', '47383 + 75607 =\n', '75607 + 98470 =\n'] ground_truth: [134709, 145345, 110214, 143459, 176041, 101076, 72191, 122990, 174077]

### Text-davinci- 002

In [209]:
model_engine = "text-davinci-002"
response = openai.Completion.create(
    engine=model_engine,
    prompt=prompts,
    max_tokens=50,
    n=1,
)

In [210]:
for choice in response.choices:
    print(choice.text)

56935 + 88177 =

83577 + 81759 =

85397 + 75198 =

145345

47223

1484359
852942
852942 + 269847 =
1122789
1122789 + 98721 =
1221502

It takes 5 iterations for set 1 to reach a palindrome, by becoming the number 85
7.078+6048 = 6422.66428+7562 =
3281.09728+5603 =
2789.64992+8237 = 62392.58174+0689 =
63

24808 + 47383 = 72291

151290

82606 + 98470 = 181076

### Text-davinci-003

In [216]:
model_engine = "text-davinci-003"
response = openai.Completion.create(
    engine=model_engine,
    prompt=prompts,
)

In [217]:
for choice in response.choices:
    print(choice.text)

1363109

73245

47321

137659

83941

32376

52091

83090

108577

In [218]:
# choices = re.findall("\d+",choi.choices)
# choices

In [219]:
choices = [int(choice.text) for choice in response.choices]
print(choices)

[1363109, 73245, 47321, 137659, 83941, 32376, 52091, 83090, 108577]

In [220]:
#print(len(response.choices))
abweichungen =  [int(response.choices[i].text) - ground_truth[i] for i in range(len(response.choices))]
abweichungen

[1228400, -72100, -62893, -5800, -92100, -68700, -20100, -39900, -65500]

In [221]:
import datetime
def get_today_date(size_prompts):
    # get the current date and time
    now = datetime.datetime.now()
    print(now)
    dates = []
    for el in range(size_prompts):
        dates.append(now.strftime('%Y-%m-%d'))
    return dates
dates = get_today_date(len(prompts))

2023-03-13 15:54:48.716636

In [222]:
df = pd.DataFrame(columns=["s1","s2","AiErg","Erg","Abweichung","Datum"])

In [223]:
df["s1"] = [t[0] for t in my_tuples]
df["s2"] = [t[1] for t in my_tuples]
df["Datum"]  = dates
df["Erg"] = ground_truth
df["Abweichung"] = abweichungen
df["AiErg"] = choices

In [224]:
df

      s1     s2    AiErg     Erg  Abweichung       Datum
0  55892  78817  1363109  134709     1228400  2023-03-13
1  78817  66528    73245  145345      -72100  2023-03-13
2  66528  43686    47321  110214      -62893  2023-03-13
3  43686  99773   137659  143459       -5800  2023-03-13
4  99773  76268    83941  176041      -92100  2023-03-13
5  76268  24808    32376  101076      -68700  2023-03-13
6  24808  47383    52091   72191      -20100  2023-03-13
7  47383  75607    83090  122990      -39900  2023-03-13
8  75607  98470   108577  174077      -65500  2023-03-13

### gpt-3.5-turbo

In [225]:
messages = [{"role": "user", "content":  prompt } for prompt in prompts]
messages

[{'role': 'user', 'content': '55892 + 78817 =\n'},
 {'role': 'user', 'content': '78817 + 66528 =\n'},
 {'role': 'user', 'content': '66528 + 43686 =\n'},
 {'role': 'user', 'content': '43686 + 99773 =\n'},
 {'role': 'user', 'content': '99773 + 76268 =\n'},
 {'role': 'user', 'content': '76268 + 24808 =\n'},
 {'role': 'user', 'content': '24808 + 47383 =\n'},
 {'role': 'user', 'content': '47383 + 75607 =\n'},
 {'role': 'user', 'content': '75607 + 98470 =\n'}]

In [226]:
## add the system msg 
messages.insert(0, {"role": "system", "content": "You are a helpful assistant."})

In [227]:
messages

[{'role': 'system', 'content': 'You are a helpful assistant.'},
 {'role': 'user', 'content': '55892 + 78817 =\n'},
 {'role': 'user', 'content': '78817 + 66528 =\n'},
 {'role': 'user', 'content': '66528 + 43686 =\n'},
 {'role': 'user', 'content': '43686 + 99773 =\n'},
 {'role': 'user', 'content': '99773 + 76268 =\n'},
 {'role': 'user', 'content': '76268 + 24808 =\n'},
 {'role': 'user', 'content': '24808 + 47383 =\n'},
 {'role': 'user', 'content': '47383 + 75607 =\n'},
 {'role': 'user', 'content': '75607 + 98470 =\n'}]

In [228]:
# Note: you need to be using OpenAI Python v0.27.0 for the code below to work

response = openai.ChatCompletion.create(
              model="gpt-3.5-turbo",
              messages=messages
            )

In [229]:
response

<OpenAIObject chat.completion id=chatcmpl-6tdrtAG2ZmVn5HmZHWwiEkybToHPu at 0x25fa8ddd0e0> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "The sum of 55892 and 78817 is 134709.\n\nThe sum of 78817 and 66528 is 145345.\n\nThe sum of 66528 and 43686 is 110214.\n\nThe sum of 43686 and 99773 is 143459.\n\nThe sum of 99773 and 76268 is 176041.\n\nThe sum of 76268 and 24808 is 101076.\n\nThe sum of 24808 and 47383 is 72191.\n\nThe sum of 47383 and 75607 is 122990.\n\nThe sum of 75607 and 98470 is 174077.",
        "role": "assistant"
      }
    }
  ],
  "created": 1678719313,
  "id": "chatcmpl-6tdrtAG2ZmVn5HmZHWwiEkybToHPu",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 137,
    "prompt_tokens": 121,
    "total_tokens": 258
  }
}

In [230]:
import re
numbers = re.findall('\d+', response['choices'][0].message.content)
tuples = zip(*[iter(numbers)]*3)

In [231]:
tup =[]
for t in tuples:
    tup.append(t)

In [232]:
len(tup)

9

In [233]:
print(tup)

[('55892', '78817', '134709'), ('78817', '66528', '145345'), ('66528', '43686', '110214'), ('43686', '99773', '143459'), ('99773', '76268', '176041'), ('76268', '24808', '101076'), ('24808', '47383', '72191'), ('47383', '75607', '122990'), ('75607', '98470', '174077')]

In [234]:
df_35 = pd.DataFrame(columns=["s1","s2","AiErg","Erg","Abweichung","Datum"])

In [235]:
ground_truth

[134709, 145345, 110214, 143459, 176041, 101076, 72191, 122990, 174077]

In [236]:
df_35["s1"] = [tup[i][0] for i in range(len(tup))]
df_35["s2"] = [tup[i][1] for i in range(len(tup))]
df_35["AiErg"] = [int(tup[i][2]) for i in range(len(tup))]
df_35["Datum"]  = dates
df_35["Erg"] = ground_truth

In [238]:
df_35["Abweichung"] = df_35["AiErg"] - df_35["Erg"]

In [239]:
df_35

      s1     s2   AiErg     Erg  Abweichung       Datum
0  55892  78817  134709  134709           0  2023-03-13
1  78817  66528  145345  145345           0  2023-03-13
2  66528  43686  110214  110214           0  2023-03-13
3  43686  99773  143459  143459           0  2023-03-13
4  99773  76268  176041  176041           0  2023-03-13
5  76268  24808  101076  101076           0  2023-03-13
6  24808  47383   72191   72191           0  2023-03-13
7  47383  75607  122990  122990           0  2023-03-13
8  75607  98470  174077  174077           0  2023-03-13