In [2]:
!pip install openai

Requirement already satisfied: openai in c:\users\nouam\anaconda3\lib\site-packages (0.27.1)
Requirement already satisfied: tqdm in c:\users\nouam\anaconda3\lib\site-packages (from openai) (4.59.0)
Requirement already satisfied: aiohttp in c:\users\nouam\anaconda3\lib\site-packages (from openai) (3.8.4)
Requirement already satisfied: requests>=2.20 in c:\users\nouam\anaconda3\lib\site-packages (from openai) (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nouam\anaconda3\lib\site-packages (from requests>=2.20->openai) (1.26.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (20.3.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\nouam\anaconda3\lib\site-packages (from aiohttp->openai) (1.8.2)

In [124]:
import openai
import tiktoken
import numpy as np
import pandas as pd
import re 



SECRET_KEY="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"
#ORG_ID= "org-Nb4XRWRLbNL4xvPpV7Cv9lSD"
openai.api_key = SECRET_KEY

In [123]:
def random_generator (size,base):
    random_numbers = np.random.randint(1, base, size=size,dtype=np.int64)
    return random_numbers
random_numbers = random_generator(10,10**8)
print(random_numbers)

[80207695 33046098 77970367 77742713 12939852 14839881 82593017 35821078
  3858728   649311]

In [66]:
# ex:
# prompts = [
#     "15+15 = ",
#     "16+18 = ",
#     "2000+20000 = ",
#     "1/100000 = "
# ]
#signs = {"/","+","-"} for future uses

def prompts_builder(random_numbers):
    prompts = [f"{a} + {b} =\n" for a, b in zip(random_numbers, random_numbers[1:])]
    ground_truth =[(random_numbers[i] + random_numbers[(i+1) % len(random_numbers)]) for i in range(len(random_numbers))]
    return prompts, ground_truth[:9]

prompts, ground_truth = prompts_builder(random_numbers)

In [67]:
my_tuples = [(random_numbers[i],random_numbers[i+1]) for i in range(len(random_numbers)-1)]
print(my_tuples)

[(946683042, 915350130), (915350130, 654016185), (654016185, 105764067), (105764067, 290834127), (290834127, 352077629), (352077629, 336781313), (336781313, 665779273), (665779273, 940981087), (940981087, 699903208)]

In [68]:
print(f"prompts: {prompts}", f"ground_truth: {ground_truth[:9]}")

prompts: ['946683042 + 915350130 =\n', '915350130 + 654016185 =\n', '654016185 + 105764067 =\n', '105764067 + 290834127 =\n', '290834127 + 352077629 =\n', '352077629 + 336781313 =\n', '336781313 + 665779273 =\n', '665779273 + 940981087 =\n', '940981087 + 699903208 =\n'] ground_truth: [1862033172, 1569366315, 759780252, 396598194, 642911756, 688858942, 1002560586, 1606760360, 1640884295]

### Text-davinci- 002

In [69]:
model_engine = "text-davinci-002"
response = openai.Completion.create(
    engine=model_engine,
    prompt=prompts,
    max_tokens=50,
   # n=1,
)

In [70]:
for choice in response.choices:
    print(choice.text)

1920169372

1003770758
166178033
F(166178034) = 166178033 + 72139578 =
238 317 511
F(238 317 512) = 238 317 512 + 93093043 =
327 245 555
F

205764067 + 290834127 = 496698194
    6347807162
  - Policy Port34127-34126, 1 values:
    1182669407
 6358965715

Chain OUTPUT (policy ACCEPT 101 packets, 9470 bytes):
 p

355439438

336781313 + 665779273 = 10025604186
10347626060

There are four numbers with this property in the range 1
to 10,000 inclusive, and the sum of these numbers is
equal to 84.

Find the sum of all the unusually lucky five-digit

948431295

### Text-davinci-003

In [71]:
model_engine = "text-davinci-003"
response = openai.Completion.create(
    engine=model_engine,
    prompt=prompts,
)

In [72]:
for choice in response.choices:
    print(choice.text)

1086219972

1593351415

1663640752

1346442194

387355856

3554451442

730317586

9505652060

1699934295

In [218]:
# choices = re.findall("\d+",choi.choices)
# choices

In [73]:
choices = [np.int64(choice.text) for choice in response.choices]
print(choices)

[1086219972, 1593351415, 1663640752, 1346442194, 387355856, 3554451442, 730317586, 9505652060, 1699934295]

In [74]:
#print(len(response.choices))
abweichungen =  [int(response.choices[i].text) - ground_truth[i] for i in range(len(response.choices))]
abweichungen

[-775813200,
 23985100,
 903860500,
 949844000,
 -255555900,
 2865592500,
 -272243000,
 7898891700,
 59050000]

In [75]:
import datetime
def get_today_date(size_prompts):
    # get the current date and time
    now = datetime.datetime.now()
    print(now)
    dates = []
    for el in range(size_prompts):
        dates.append(now.strftime('%Y-%m-%d'))
    return dates
dates = get_today_date(len(prompts))

2023-03-15 12:47:03.543126

In [76]:
df_1 = pd.DataFrame(columns=["s1","s2","AiErg","Erg","Abweichung","Datum"])

In [77]:
df_1["s1"] = [t[0] for t in my_tuples]
df_1["s2"] = [t[1] for t in my_tuples]
df_1["Datum"]  = dates
df_1["Erg"] = ground_truth
df_1["Abweichung"] = abweichungen
df_1["AiErg"] = choices

In [224]:
df

      s1     s2    AiErg     Erg  Abweichung       Datum
0  55892  78817  1363109  134709     1228400  2023-03-13
1  78817  66528    73245  145345      -72100  2023-03-13
2  66528  43686    47321  110214      -62893  2023-03-13
3  43686  99773   137659  143459       -5800  2023-03-13
4  99773  76268    83941  176041      -92100  2023-03-13
5  76268  24808    32376  101076      -68700  2023-03-13
6  24808  47383    52091   72191      -20100  2023-03-13
7  47383  75607    83090  122990      -39900  2023-03-13
8  75607  98470   108577  174077      -65500  2023-03-13

In [40]:
df_1

,s1,s2,AiErg,Erg,Abweichung,Datum
0,701869845413646908,723589992599342431,7939559770412992244,1425459838012989339,6514099932400002905,2023-03-15
1,723589992599342431,701634433106438396,1424223428364838274,1425224425705780827,-1000997340942553,2023-03-15
2,701634433106438396,818289748956451491,922008492266094882,1519924182062889887,-597915689796795005,2023-03-15
3,818289748956451491,56750756575823219,1449297324438777704,875040505532274710,574256818906502994,2023-03-15
4,56750756575823219,884272466811182402,952777822046995624,941023223387005621,11754598659990003,2023-03-15
5,884272466811182402,339348153187194861,868275398559143509,1223620619998377263,-355345221439233754,2023-03-15
6,339348153187194861,491658742544210616,640672207825339432,831006895731405477,-190334687906066045,2023-03-15
7,491658742544210616,306928528724576965,6082544200489832077,798587271268787581,5283956929221044496,2023-03-15
8,306928528724576965,285722232002019989,3156445168924776854,592650760726596954,2563794408198179900,2023-03-15

### gpt-3.5-turbo

In [78]:
messages = [{"role": "user", "content":  prompt } for prompt in prompts]
messages

[{'role': 'user', 'content': '946683042 + 915350130 =\n'},
 {'role': 'user', 'content': '915350130 + 654016185 =\n'},
 {'role': 'user', 'content': '654016185 + 105764067 =\n'},
 {'role': 'user', 'content': '105764067 + 290834127 =\n'},
 {'role': 'user', 'content': '290834127 + 352077629 =\n'},
 {'role': 'user', 'content': '352077629 + 336781313 =\n'},
 {'role': 'user', 'content': '336781313 + 665779273 =\n'},
 {'role': 'user', 'content': '665779273 + 940981087 =\n'},
 {'role': 'user', 'content': '940981087 + 699903208 =\n'}]

In [79]:
## add the system msg 
messages.insert(0, {"role": "system", "content": "You are a helpful assistant."})

In [80]:
messages

[{'role': 'system', 'content': 'You are a helpful assistant.'},
 {'role': 'user', 'content': '946683042 + 915350130 =\n'},
 {'role': 'user', 'content': '915350130 + 654016185 =\n'},
 {'role': 'user', 'content': '654016185 + 105764067 =\n'},
 {'role': 'user', 'content': '105764067 + 290834127 =\n'},
 {'role': 'user', 'content': '290834127 + 352077629 =\n'},
 {'role': 'user', 'content': '352077629 + 336781313 =\n'},
 {'role': 'user', 'content': '336781313 + 665779273 =\n'},
 {'role': 'user', 'content': '665779273 + 940981087 =\n'},
 {'role': 'user', 'content': '940981087 + 699903208 =\n'}]

In [99]:
# Note: you need to be using OpenAI Python v0.27.0 for the code below to work

response = openai.ChatCompletion.create(
              model="gpt-3.5-turbo",
              messages=messages
            )

In [100]:
response

<OpenAIObject chat.completion id=chatcmpl-6uJvAo6oQpV4e6J4gjtR5qGPC3ITU at 0x12cdd35cf90> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "The sum of 946683042 + 915350130 is 1865036172.\n\nThe sum of 915350130 + 654016185 is 1568368315.\n\nThe sum of 654016185 + 105764067 is 759780252.\n\nThe sum of 105764067 + 290834127 is 396598194.\n\nThe sum of 290834127 + 352077629 is 642911756.\n\nThe sum of 352077629 + 336781313 is 688858942.\n\nThe sum of 336781313 + 665779273 is 1000563586.\n\nThe sum of 665779273 + 940981087 is 1602763360.\n\nThe sum of 940981087 + 699903208 is 1641884295.",
        "role": "assistant"
      }
    }
  ],
  "created": 1678880964,
  "id": "chatcmpl-6uJvAo6oQpV4e6J4gjtR5qGPC3ITU",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 168,
    "prompt_tokens": 139,
    "total_tokens": 307
  }
}

In [101]:
import re
numbers = re.findall('\d+', response['choices'][0].message.content)
tuples = zip(*[iter(numbers)]*3)

In [102]:
tup =[]
for t in tuples:
    tup.append(t)
    print(t)

('946683042', '915350130', '1865036172')
('915350130', '654016185', '1568368315')
('654016185', '105764067', '759780252')
('105764067', '290834127', '396598194')
('290834127', '352077629', '642911756')
('352077629', '336781313', '688858942')
('336781313', '665779273', '1000563586')
('665779273', '940981087', '1602763360')
('940981087', '699903208', '1641884295')

In [103]:
len(tup)

9

In [104]:
print(tup)

[('946683042', '915350130', '1865036172'), ('915350130', '654016185', '1568368315'), ('654016185', '105764067', '759780252'), ('105764067', '290834127', '396598194'), ('290834127', '352077629', '642911756'), ('352077629', '336781313', '688858942'), ('336781313', '665779273', '1000563586'), ('665779273', '940981087', '1602763360'), ('940981087', '699903208', '1641884295')]

In [105]:
df_35_1 = pd.DataFrame(columns=["s1","s2","AiErg","Erg","Abweichung","Datum"])

In [106]:
ground_truth

[1862033172,
 1569366315,
 759780252,
 396598194,
 642911756,
 688858942,
 1002560586,
 1606760360,
 1640884295]

In [107]:
df_35_1["s1"] = [tup[i][0] for i in range(len(tup))]
df_35_1["s2"] = [tup[i][1] for i in range(len(tup))]
df_35_1["AiErg"] = [tup[i][2] for i in range(len(tup))]
df_35_1["Datum"]  = dates
df_35_1["Erg"] = ground_truth

In [109]:
df_35_1

          s1         s2       AiErg         Erg Abweichung       Datum
0  946683042  915350130  1865036172  1862033172        NaN  2023-03-15
1  915350130  654016185  1568368315  1569366315        NaN  2023-03-15
2  654016185  105764067   759780252   759780252        NaN  2023-03-15
3  105764067  290834127   396598194   396598194        NaN  2023-03-15
4  290834127  352077629   642911756   642911756        NaN  2023-03-15
5  352077629  336781313   688858942   688858942        NaN  2023-03-15
6  336781313  665779273  1000563586  1002560586        NaN  2023-03-15
7  665779273  940981087  1602763360  1606760360        NaN  2023-03-15
8  940981087  699903208  1641884295  1640884295        NaN  2023-03-15

In [110]:
df_35_1["Abweichung"] = np.int64(df_35_1["AiErg"]) - df_35_1["Erg"]

In [111]:
df_35_1

          s1         s2       AiErg         Erg  Abweichung       Datum
0  946683042  915350130  1865036172  1862033172     3003000  2023-03-15
1  915350130  654016185  1568368315  1569366315     -998000  2023-03-15
2  654016185  105764067   759780252   759780252           0  2023-03-15
3  105764067  290834127   396598194   396598194           0  2023-03-15
4  290834127  352077629   642911756   642911756           0  2023-03-15
5  352077629  336781313   688858942   688858942           0  2023-03-15
6  336781313  665779273  1000563586  1002560586    -1997000  2023-03-15
7  665779273  940981087  1602763360  1606760360    -3997000  2023-03-15
8  940981087  699903208  1641884295  1640884295     1000000  2023-03-15

In [112]:
!python --version

Python 3.8.8

In [243]:
df_35.to_csv('my_data.csv', index=False)

### gpt-3.5-turbo -- other messages

In [113]:
messages = [{"role": "user", "content":  prompt } for prompt in prompts]
messages

[{'role': 'user', 'content': '946683042 + 915350130 =\n'},
 {'role': 'user', 'content': '915350130 + 654016185 =\n'},
 {'role': 'user', 'content': '654016185 + 105764067 =\n'},
 {'role': 'user', 'content': '105764067 + 290834127 =\n'},
 {'role': 'user', 'content': '290834127 + 352077629 =\n'},
 {'role': 'user', 'content': '352077629 + 336781313 =\n'},
 {'role': 'user', 'content': '336781313 + 665779273 =\n'},
 {'role': 'user', 'content': '665779273 + 940981087 =\n'},
 {'role': 'user', 'content': '940981087 + 699903208 =\n'}]

In [114]:
messages.insert(0, {"role": "system", "content": "You are very good at arithmetic operations!"})

In [115]:
# Note: you need to be using OpenAI Python v0.27.0 for the code below to work
response = openai.ChatCompletion.create(
              model="gpt-3.5-turbo",
              messages=messages
            )

In [116]:
response

<OpenAIObject chat.completion id=chatcmpl-6uK1Q6B75O6LcXZUTqGJmqzHacpuC at 0x12cdd35c540> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "The sum of 946683042 and 915350130 is 1869034172.\n\nThe sum of 915350130 and 654016185 is 1566365315.\n\nThe sum of 654016185 and 105764067 is 759780252.\n\nThe sum of 105764067 and 290834127 is 396598194.\n\nThe sum of 290834127 and 352077629 is 642911756.\n\nThe sum of 352077629 and 336781313 is 688858942.\n\nThe sum of 336781313 and 665779273 is 1000564586.\n\nThe sum of 665779273 and 940981087 is 1605763360.\n\nThe sum of 940981087 and 699903208 is 1641887295.",
        "role": "assistant"
      }
    }
  ],
  "created": 1678881352,
  "id": "chatcmpl-6uK1Q6B75O6LcXZUTqGJmqzHacpuC",
  "model": "gpt-3.5-turbo-0301",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 168,
    "prompt_tokens": 141,
    "total_tokens": 309
  }
}

In [117]:
import re
numbers = re.findall('\d+', response['choices'][0].message.content)
tuples = zip(*[iter(numbers)]*3)

In [118]:
tup =[]
for t in tuples:
    tup.append(t)
    print(t)

('946683042', '915350130', '1869034172')
('915350130', '654016185', '1566365315')
('654016185', '105764067', '759780252')
('105764067', '290834127', '396598194')
('290834127', '352077629', '642911756')
('352077629', '336781313', '688858942')
('336781313', '665779273', '1000564586')
('665779273', '940981087', '1605763360')
('940981087', '699903208', '1641887295')

In [119]:
df_35 = pd.DataFrame(columns=["s1","s2","AiErg","Erg","Abweichung","Datum"])

In [120]:
df_35["s1"] = [tup[i][0] for i in range(len(tup))]
df_35["s2"] = [tup[i][1] for i in range(len(tup))]
df_35["AiErg"] = [tup[i][2] for i in range(len(tup))]
df_35["Datum"]  = dates
df_35["Erg"] = ground_truth

In [121]:
df_35["Abweichung"] = np.int64(df_35["AiErg"]) - df_35["Erg"]

In [122]:
df_35

          s1         s2       AiErg         Erg  Abweichung       Datum
0  946683042  915350130  1869034172  1862033172     7001000  2023-03-15
1  915350130  654016185  1566365315  1569366315    -3001000  2023-03-15
2  654016185  105764067   759780252   759780252           0  2023-03-15
3  105764067  290834127   396598194   396598194           0  2023-03-15
4  290834127  352077629   642911756   642911756           0  2023-03-15
5  352077629  336781313   688858942   688858942           0  2023-03-15
6  336781313  665779273  1000564586  1002560586    -1996000  2023-03-15
7  665779273  940981087  1605763360  1606760360     -997000  2023-03-15
8  940981087  699903208  1641887295  1640884295     1003000  2023-03-15